@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-terminal: #07111f;
  --color-terminal-border: #334155;
  --color-terminal-foreground: #e2e8f0;
  --color-terminal-muted: #94a3b8;
}
